@use "@/app-fsd/styles/variables" as var;

.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &_item > button {
    font-weight: 600;
  }
  &_item_text {
    display: flex;
    gap: 7px;
    justify-content: center;
    &_secondary {
      color: var.$gray_text
    }
  }
  &_item_text_link {
    text-decoration: none;
    color: var.$g-color-base-brand;
    font-weight: bold;
  }
  &_center {
    text-align: center;
  }
  &_icon {
    color: var.$gray_text;
    padding-right: 7px;
  }
}
