@use "@/app-fsd/styles/variables" as var;

.form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &_item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > button {
      font-weight: 600;
    }
  }
}