.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 40px;
}

.icon {
  display: flex;
  justify-content: flex-end;

  & > svg {
    margin-right: -25px;
  }
}