@use "@/app-fsd/styles/variables" as var;

.swiper_container {
  position: relative;
  width: 100%;
  height: 250px; /* фиксированная высота карточки */
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: fill; /* растягиваем изображение полностью */
  }
}

.container {
  max-width: 300px;
  position: relative;

  &_img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover !important;
  }

  &_card {
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid var.$gray_border;
    border-right: 1px solid var.$gray_border;
    border-bottom: 1px solid var.$gray_border;
    padding: 15px 15px;
    margin-top: -4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 7px;

    &_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &_text_price {
    font-weight: 800;
    color: var.$g-color-private-brand-550-solid-dark;
  }

  &_text_secondary {
    font-weight: 500;
    color: var.$gray_text;
  }

  &_icons {
    display: flex;
    justify-content: space-between;
  }

  &_icons_item {
    display: flex;
    align-items: center;
    gap: 4px;
    background: var.$g-color-private-brand-100-solid;
    border-radius: 6px;
    padding: 4px 10px;
    color: var.$g-color-private-brand-650-solid;
  }

  &_icons_icon {
    color: var.$g-color-private-brand-550-solid-dark;
    margin-top: 4px;
  }
}

.popular_badge {
  position: absolute;
  top: -25px;
  left: -6px;
  display: flex;
  align-items: center;
  gap: 4px;
  background: var.$g-color-private-brand-650-solid;
  border-radius: 6px 6px 6px 0;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  color: var.$white;
  z-index: 10;

  > svg {
    color: var.$white;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-top: 6px solid var.$g-color-private-brand-650-solid;
  }
}

/* Пагинация — линии */
.pagination {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 8px;
  position: absolute;
  top: 0;
  z-index: 999999;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin-top: auto;
}

.line.active {
  background-color: var.$g-color-private-brand-450-solid;
}