@use "@/app-fsd/styles/variables" as var;

.headerManage {
  max-width: 1376px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var.$gray_border;
  padding-bottom: 10px;



  &_container {
    display: flex;
    align-items: center;
    gap: 80px;

    &_avatar {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}